doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel="stylesheet", href='http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    div(ng-app="chatbuddy", ng-cloak)
      block content


  block javascripts
    script(src="/angular/angular.min.js")
    script(src="/javascripts/main.js")